.requests {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.requests .head {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.requests .filterss > .MuiStack-root {
    width: fit-content !important;
}

.requests .head > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
}

.requests .head > div .select-container {
    height: 56px;
}

.requests .head h2 {
    font-weight: 600;
    font-size: 22px;
    color: #51526C;
    margin: 0;
}

.checkbox-label {
    direction: rtl;
    margin: auto 0;
}

.checkbox-label span {
    font-family: Cairo !important;
    font-size: 16px;
    font-weight: 400;
}

.checkbox-label .icon ,
.checkbox-label .checked-icon {
    font-size: 20px;
}

.checkbox-label .checked-icon {
    color: #42B72A;
}