.requests-card {
    background-color: var(--primary-card-background-color);
    border-radius: 8px;
    padding: var(--card-padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.requests-card .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2140C9;
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 25px;
    margin-top: 14px;
}