.page {
    width: 100%;
    min-height: 100vh;
    padding: var(--page-padding);
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.page .current-page {
    font-size: 18px;
    font-weight: 500;
    color: var(--sixth-text-color)
}

.page .previous-page {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 4px; 
    cursor: pointer;
}

.page .main-title {
    width: 100%;
    margin-top: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: end; 
    justify-content: space-between;
}

.page .main-title .title-row {
    width: 100%; 
    margin-bottom: 2rem;
    justify-content: end;
    align-items: center; 
    flex-direction: row-reverse; 
    gap: 2rem; 
}


.page .main-title .title-row .select-container {
    height: 50px;
}

.page .main-title .title-row .select-container label {
    left: 18px;
} 