.order-summary .const-label {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, 100%);
    font-size: 14px;
    color: #546881;
    box-sizing: border-box;
}

.order-summary .group {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: auto;
    width: 255px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.order-summary .group > div {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
}