.MuiBadge-badge {
    background-color: #2140C9;
}

.notif-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: #EFF2FF;
    color: #2140C9;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.notif-btn.active ,
.notif-btn:hover {
    background-color: #2140C9;
    color: white;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: #EBEEF2 !important;
    border-radius: 8px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.notifications * {
    font-family: 'Cairo' !important;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 526px;
    padding: 8px !important;
    border-radius: 10px;
    box-sizing: border-box;
    direction: rtl;
    background: #EBEEF2;
}

.notifications-list .notifications-container {
    width: 100%;
    max-height: 222px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.notifications-list .notifications-container .css-1e9lk82-MuiListItemAvatar-root {
    display: flex;
}

.notifications-list .notifications-container::-webkit-scrollbar {
    width: 0px;
}

.show-all-notifications {
    width: 100%;
    padding: 8px 0 10px;
    background: inherit;
    color: #2140C9;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

/* list item for multi file */
.notifications-list .list-item {
    width: 100%;
    padding: 12px;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 4px;
} 

.notifications-list .list-item .noti-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: -webkit-fill-available;
    text-align: right;
}

.notifications-list .list-item .noti-text .new-offer h2 {
    color: #2F4CDD;
    text-align: right;
    font-family: Cairo;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    margin-bottom: 19px;
}

.notifications-list .list-item .noti-text .offer-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.notifications-list .list-item .noti-text .offer-info > div {
    display: inline-flex;
}

.notifications-list .list-item .noti-text .offer-info > div p {
    color: #1D242D;
    text-align: right;
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
}

.notifications-list .list-item .noti-text .offer-info > div span {
    color: #546881;
    text-align: right;
    /* Body/Small */
    font-family: Cairo;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}


.notifications-list .list-item .noti-text p {
    font-family: cairo; 
}

.notifications-list .list-item .noti-time {
    font-family: cairo; 
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

/* ######################### */