.categories {
    width: 100%;
}

.categories h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 33.73px;
    letter-spacing: -0.16500000655651093px;    
}

.categories div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.categories div span {
    padding: 6px 8px;
    border-radius: 4px;
    background: var(--primary-categories-color);
    color: #0C6B6B;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.98px;
    letter-spacing: -0.16500000655651093px;
    text-align: center;    
}

.categories.buyers div span {
    background: var(--scondary-categories-color);
    color: #2140C9;
}