.price-quote-details {
    width: 100%;
    min-height: 100vh;
    padding: var(--page-padding);
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.price-quote-details .offer-details-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.price-quote-details .offer-details-content .title {
    margin: 0;
}

.price-quote-details .offer-details-content .title::before {
    padding: 1px;
    background: linear-gradient(180deg, #2140C9 0%, #FFC94B 100%);
}

.price-quote-details .offer-details-content .supplier-buyer-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1.4px solid #2140C9;
    padding-bottom: 40px;
}

.price-quote-details .offer-details-content .supplier-buyer-details .infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.price-quote-details .offer-details-content .details-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.price-quote-details .offer-details-content .btn-details {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}