.general-setting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 22px;
    padding: 22px;
}

.general-setting .general-setting-title {
    font-family: 'cairo';
    font-size: 20px;
    font-weight: 600;
    line-height: 37.48px;

    & svg {
        color: #51526C;
        margin-left: 6px;
    }
}

.general-setting > div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    border-radius: 16px;
    padding: 16px 22px;
    background-color: var(--primary-card-background-color);
}

.general-setting .top > div:first-child {
    display: flex;
    align-items: center;
    gap: 22px;
}

.general-setting > div > div {
    display: flex;
    flex-direction: row-reverse;
    gap: 14px;
    text-align: end;
}