.contact-info {
    direction: ltr;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.contact-info > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 26.24px;
}

.contact-info > p svg {
    font-size: 15px;
    color: #2140C9;
}

.contact-info.client > p svg {
    color: #0C6B6B;
}