.requests-for-quotations-admin .controls {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.requests-for-quotations-admin .controls > label {
    font-size: 20px;
    font-weight: 600;
    line-height: 37.48px;   
    color: black; 
}

.requests-for-quotations-admin .controls .checkboxs {
    gap: 12px;
}

.requests-for-quotations-admin .controls .checkboxs > label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    margin: 0;
    border-radius: 8px;
}

.requests-for-quotations-admin .controls .checkboxs > label > span:last-child {
    font-family: Cairo;
    font-size: 16px;
    font-weight: 600;
    line-height: 29.98px;
    text-align: left;
}